<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main-page</title>
    <link rel="stylesheet" href="static/style.css">
    
</head>
<body>
    <h3 id="logo"><a href="/">NeoBank</a></h3>

    <div id="index-menu">
        <h1>Welcome</h1>
        <div id="CTA-btns">
            <button onclick="location.href='sign-up'" class="primary-btn">Sign-Up</button>
            <button onclick="location.href='login'" class="secondary-btn">Login</button>
        </div>
    </div>
</body>
</html>
