<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Sign-Up-Bank</title>
</head>
<body>
    <h3 id="logo"><a href="/">NeoBank</a></h3>
    {% with messages = get_flashed_messages(with_categories =true)%}
    {% if messages%}
    {% for category, message in messages%}
    <h5 id="{{ category }}">{{message}}</h5>
    {%endfor%}
    {%endif%}
    {%endwith%}
    
    <div class="main-content">    
        <h3>Sign Up!</h3>
        <form method="POST" class="account-form">
            <input required type="email" name="email" placeholder="Email">
            <input required type="text" name="firstName" placeholder="First name">
            <input required type="text" name="lastName" placeholder="Last name">
            <input required type="password" name="pass" placeholder="Password">
            <input type="submit" value="Sign up" class = "primary-btn">
        </form>
        <button onclick="location.href='/'" class="secondary-btn">Back</button>
    </div>
</body>
</html>
